<%= render "shared/navbar" %>


<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path("banner.jpg") %>);">
  <div class="banner-content">
    <h1><%= @cocktail.name %></h1>
  </div>
</div>

<div class="wrapper-cocktails">
  <div class="container">

    <div class="cocktail-info">

      <div>
        <p><%= @cocktail.instruction %></p>
        <ul>
          <% @cocktail.doses.each do |dose| %>
          <li>
            <%= dose.ingredient.name %>
            <% if dose.description != "\n" %>
            -
            <% end %>
            <%= dose.description %>
            <%= link_to dose_path(dose), method: "delete" do %>
            <i class="fas fa-trash-alt"></i>
            <% end %>
          </li>
          <% end %>
        </ul>


        <%= link_to("Add dose", new_cocktail_dose_path(@cocktail), class: "btn btn-yours") %>

        <div class="return">
          <%= link_to("Return", cocktails_path, class: "btn btn-yours") %>
        </div>

      </div>

      <div class="pic">
        <%= image_tag(@cocktail.image, class:"drink-profile")  %>

      </div>

    </div>

  </div>
</div>
